<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Main Page</title>
    <link rel="stylesheet" href="/styles/Employees-Main.css">
</head>
<body>

    <input class="message" type="text" value="<%=alert%>" style="display: none;">

    <br>
    
    <div class="top">
        <nav>
            
           <div class="buttons">
                <a href="main" id="Requests">Requests</a>
                <a href="progress">Progress</a>
                <a href="messages"> Messages</a>
           </div>
           <center>
            <div class="note">
                <img src="/images/bell.svg" alt="bell" onclick="location.href='/employees/messages'">
             </div>
           </center>
           <center>
            <div class="avatar" >
                <img src="/images/person.png" alt="avatar" >
            </div>
           </center>

        </nav>
    </div>


    <div class="container">
        <div class="title">
            <h1>Requests</h1>
            <h3>Manage requests information and review estimation precesses</h3>
        </div>
    </div>

    <div class="wrapper">

        <div class="requests">

            <center>
                <div class="row">
                    <div class="cl1">
                        <h3>Date</h3>
                    </div>
                    <div class="cl2">
                        <h3>Accident number</h3>
                    </div>
                    <div class="cl3"></div>
                </div>
            </center>
           <center class="center-rows">
            <% requests.forEach(request => { %>

                
                <div class="row">
                    <div class="cl1">
                        <h3><%=new Date(request.created_at).toLocaleDateString('en-US')%></h3>
                    </div>
                    <div class="cl2">
                        <h3>#<%=request.accident_id%></h3>
                    </div>
                    <div class="cl3">
                        <button class="view" onclick="location.href='main/<%=request.accident_id%>'">View</button>
                    </div>
                </div>

            <% }) %>

           </center>







        </div>


    </div>
    <br>
    <center>
      <hr>
      <h4>Total Requests: <%= requests.length %></h4>
    </center>
    <br>
    <br>

   <form action="/employees/logout" method="post">
    <button type="submit" id="logout">
        <img src="/images/logout.png" alt="logout">
            Logout
    </button>
   </form>




<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/alert.js"></script>
<script src="/js/notifications.js"></script>
</body>
</html>