<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Process Page</title>
    <link rel="stylesheet" href="/styles/Manager-Progress.css">
</head>
<body>
    
    <input class="message" type="text" value="<%=alert%>" style="display: none;">
        
    <br>
    
    <div class="top">
        <nav>
            
           <div class="buttons">
                <a href="/managers/main">Objections</a>
                <a href="/managers/progress" id="active">Progress</a>
                <a href="/managers/messages"> Messages</a>
           </div>
           <div class="note">
                <img src="/images/bell.png" alt="bell">
           </div>
           <div class="avatar">
            <img src="/images/person.png" alt="avatar">
           </div>

        </nav>
    </div>


    <div class="container">
        <div class="title">
            <h1>Progress</h1>
            <h3>Track your team's performance, review their progress, and ensure they stay on course for success and bonuses!</h3>
        </div>
    </div>

    <div class="wrapper">

        <div class="requests">

           <div class="for-input">
                <input type="text" placeholder="Search" id="name">
                <div class="icon" id="search"></div>
           </div>

           <% if(data){ %>

            <h2>@<%= JSON.parse(data).name %></h2>
           <div>
                <center>
                    <h3>Total Requests : <%= JSON.parse(data).total %></h3>
                    <h3>Approved :  <%= JSON.parse(data).employee %></h3>
                </center>
           </div>
           <br>

           <div class="progress">
            <div class="line" style="width:<%= (JSON.parse(data).employee/JSON.parse(data).total)*100 %>%"></div>
            <h3><%= (JSON.parse(data).employee/JSON.parse(data).total)*100 %>%</h3>
           </div>

           <% } %>
           

           

        </div>


    </div>
    <br>

    <br>
    <br>

    <form action="/employees/logout" method="post">
        <button type="submit" id="logout">
            <img src="/images/logout.png" alt="logout">
                Logout
        </button>
    </form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/alert.js"></script>
</body>
</html>



<script>

    document.querySelector("#search").addEventListener("click", () => {

        const name = document.querySelector("#name").value.trim();
        if(!name || String.empty)return message("Please Enter a name");
        
        location.href = `/managers/progress/${name}`;

    })


</script>