<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="/styles/Users-Main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>
</head>
<body>
    
    <input class="message" type="text" value="<%=alert%>" style="display: none;">


    
    <div class="upload-view" style="display: none;">
        <div class="upload">
            <h3>Upload up to 3 Photos of the Accident</h3>
            <h6>Make sure the images are clear and highlight the damage effectively.</h6>
            <br>
            <label for="file-upload" class="js-upload">
                <span uk-icon="icon: cloud-upload"></span>
                <p>Drag & drop your images here or</p>
                <button class="upload-button">Select Images</button>
                <input id="file-upload" type="file" multiple accept="image/*">
            </label>

            <progress id="js-progressbar" class="uk-progress" hidden></progress>
        </div>
        <form action="/main/upload" method="post" class="upload-form" style="display: none;">
            <!-- Hidden input to hold the Base64 images data -->
            <input type="hidden" name="images" class="images" required>
            <input type="hidden" name="aid" class="aid" value="<%=aid%>" required>
        </form>
    </div>
    
    
    







    <section class="for-nav" id="start">
        <nav class="uk-navbar-container custom-navbar" uk-navbar>

            <div class="uk-navbar-left" >
                    <img src="logo/png/logo-black-removebg-preview.png" alt="Logo" style="height: 120px !important;">
            </div>
    
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
    
            <div class="uk-navbar-right">
                <div>
                    <div class="avatar-container" style="height: 60px !important;">
                        <img src="/images/person.png" alt="User Avatar" class="avatar">
                    </div>
                    <div uk-dropdown="mode: click; pos: bottom-right" class="custom-dropdown">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-flex uk-flex-center">
                                <form action="/logout" method="POST">
                                    <button type="submit" class="logout-link">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </nav>
    </section>
    
    
    <div class="uk-container uk-text-center">
        <h1>New Request<br>Effortless Car Damage Estimation</h1>
        <p>Request a car damage estimate effortlessly! Simply upload clear photos of your vehicle, share a few details, and let our advanced system analyze the damage. Get a detailed report with repair costs, parts replacement recommendations, and more—fast and hassle-free!</p>
    </div>

    <div class="uk-container uk-text-center uk-margin-medium-top">
        <form action="/main" method="post" class="uk-inline">
            <input class="uk-input" type="text" placeholder="Accident number" id="accident-number" name="aid" required>
            <button type="submit" class="uk-button uk-button-green uk-icon">
                <span uk-icon="icon: search; ratio: 1.2" style="color:white;"></span>
            </button>
        </form>
    </div>


    <div class="uk-container uk-text-center uk-margin-large-top">
        <h2>Request History</h2>
        <p>Manage requests information and review estimation precesses</p>
    </div>




    <section class="table uk-container uk-margin-large-top">
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>Request Number</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example Row 1 -->
                <% if(!data.length) { %>

                    <tr>
                            <td><h5>-</h5></td>
                            <td><h5>-</h5></td>
                            <td><h5>-</h5></td>
                            <td><h5>-</h5></td>

                    </tr>

                <% } %>
                <% data.forEach(info => { %>        
                    <tr>
                        <td>
                            <%=info.accident_id%>
                        </td>
                        <td><%=new Date(info.created_at).toLocaleString()%></td>
                        <td><%=info.status%></td>
                        <td>

                            <% if(info.status === "Objection"){ %>
                                <p>Waiting for response<p>
                            <% } %>

                            <% if(info.status === "Reviewed" || info.status === "Complete" || info.status === "Appointment" || info.status === "Closed" ){ %>
                                <button class="uk-button pdf" onclick="generatePDF('<%= JSON.stringify(info.AI_Response) %>', '<%= info.accident_id %>')">
                                    <span uk-icon="download">PDF</span>
                                </button>
                            <% } %>

                            <% if(info.status === 'Rejected') { %>
                                <p><%= info.message %> re-upload the images.</p>
                            <% }else if(info.status === 'Reviewed' || (info.status === 'Complete' && info.appointment_date === null)) { %>
                                    <button class="uk-button uk-button-objection" id="<%=info.accident_id%>" onclick="objection(this)">Objection</button>
                            <% }else if(info.status === 'Appointment'){ %>
                                <button class="uk-button uk-button-appointment" id="<%=info.accident_id%>" onclick="selectAppointmentDate(this)">
                                    Appointment
                                </button>                
                            <% } else if(info.status === 'Complete' && info.appointment_date != null){ %>
                                <button class="uk-button uk-button-re-appointment" id="<%=info.accident_id%>" onclick="selectAppointmentDate(this)">
                                    Re-Schedule
                                </button> 
                                <center>
                                    <span uk-icon="clock" class="time"><%=new Date(info.appointment_date).toLocaleString()%></span> 
                                </center>             
                            <% } %>
                            
                        </td>
                    </tr>
                <% }) %>

                <!-- <tr>
                    <td>REQ-00123</td>
                    <td>2024-11-30</td>
                    <td>Pending</td>
                    <td>
                        <button class="uk-button uk-button-objection">Objection</button>
                    </td>
                </tr> -->
                <!-- Example Row 2 -->
                <!-- <tr>
                    <td>REQ-00456</td>
                    <td>2024-11-28</td>
                    <td>Completed</td>
                    <td>
                        <button class="uk-button uk-button-appointment">Appointment</button>
                    </td>
                </tr> -->
                <!-- Example Row 3 -->
                <!-- <tr>
                    <td>REQ-00789</td>
                    <td>2024-11-25</td>
                    <td>In Progress</td>
                    <td>
                        <h4>-</h4>
                    </td>
                </tr> -->

            </tbody>
        </table>
    </section>
    






    


    <br><br><br><br>
    <footer class="uk-section uk-section-muted uk-padding-remove">
        <div class="uk-container">
            <div class="uk-grid-collapse uk-child-width-1-3@s uk-flex-middle" uk-grid>
                
                <!-- Left Column: Company -->
                <div class="uk-text-center">
                    <h3>Company</h3>
                    <ul class="uk-list uk-list-collapse uk-text-center">
                        <li><a href="#about" class="uk-link-text">About</a></li>
                        <li><a href="#contact" class="uk-link-text">Contact</a></li>
                    </ul>
                </div>
    
                <!-- Center Column: Logo -->
                <div class="uk-text-center">
                    <img src="/logo/png/logo-black.png" alt="Logo" style="height: 80px;">
                </div>
    
                <!-- Right Column: Services -->
                <div class="uk-text-center">
                    <h3>Services</h3>
                    <ul class="uk-list uk-list-collapse uk-text-center">
                        <li><a href="#" class="uk-link-text">Login</a></li>
                        <li><a href="#" class="uk-link-text">Sign Up</a></li>
                        <li><a href="#" class="uk-link-text">Main</a></li>
                    </ul>
                </div>
            </div>
    
            <!-- Divider -->
            <hr class="uk-divider-icon">
    
            <!-- Copyright Text -->
            <div class="uk-text-center uk-margin-top">
                <h4>&copy; 2024 Qaddr. All rights reserved.</h4>
            </div>
        </div>
    </footer>

    

    <button class="up" style="display: none;" onclick="location.href = '#start'">↑</button> 
    
<script src="/js/objection.js"></script>
<script src="/js/pdf.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
<script src="js/upload.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/alert.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>




<style>
    .swal2-popup-custom {
        border: 1px solid #003B3E;
        border-radius: 8px;
    }
    .swal2-title-custom {
        color: #003B3E;
    }
    .swal2-confirm {
        background-color: #003B3E;
        color: white;
        border-radius: 5px;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        margin-right: 2px;
    }
    .swal2-cancel{
        background-color: #f4f4f4;
        color: #003B3E;
        border-radius: 5px;
        padding: 8px 16px;
        font-size: 14px;
        cursor: pointer;
        margin-left: 2px;
    }
</style>


<script>
    function selectAppointmentDate(e) {
        const today = new Date().toISOString();
        
        Swal.fire({
            html: `
                <br>
                <h2>Select Appointment Date</h2>
                <input type="datetime-local" id="appointmentDate" class="swal2-input" min="${today}">
            `,
            focusConfirm: false,
            confirmButtonText: 'Confirm',
            preConfirm: () => {
                const appointmentDate = document.getElementById('appointmentDate').value;
                if (!appointmentDate) {
                    Swal.showValidationMessage('Please select a date');
                }
                return appointmentDate;
            }
        }).then((result) => {
            if (result.isConfirmed) {
                let selectedDate = result.value;
                fetch(`/main/${e.id}`,{
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method:'PUT',
                    body: JSON.stringify({reason:selectedDate})
                }).then((response) => {
                    if(response.ok){
                        Swal.fire({
                            icon:"success",
                            title:selectedDate.replace("T"," "),
                            html:"Appointment Scheduled Successfully",
                        }).then(() => location.reload())
                        
                    }else{
                        Swal.fire({
                            icon:"error",
                            title:'Somthing went wrong',
                        });
                    }
                })
                
            }
        });
    }
</script>



<script>
    AOS.init({
        once: true 
    });
    window.addEventListener("scroll", () => {
        const scrollPosition = window.scrollY; 
        const middleOfPage = document.documentElement.scrollHeight * 0.25; 
    
        const button = document.querySelector(".up");
    
        if (scrollPosition >= middleOfPage) {
            button.style.display = "block";
        } else {
            button.style.display = "none"; 
        }
    });
    
</script>


<script>

    if(document.querySelector('.aid').value){
        document.querySelector(".upload-view").style.display = "flex";
    }

    document.querySelector('.upload-view').addEventListener('click', function (e) {
        if (e.target === this) {
            this.style.display = 'none';
        }
    });


</script>
